[project]
name = "moneycarlo"
version = "0.1.0"
description = "Project to model revenue based on contract conditions."
readme = "README.md"
requires-python = ">=3.8"
license = {file = "LICENSE"}
authors = [
  {name = "Brandon Sexton", email = "brandon.sexton.1@outlook.com" }
]

[project.optional-dependencies]
dev = [
    "black",
    "pre-commit",
    "isort",
    "mypy",
    "flake8"
]

[build-system]
requires = ["setuptools>=43.0.0", "wheel"]
build-backend = "setuptools.build_meta"

[tool.black]
line-length = 120
force-exclude = '''
^/(
  (
      \.eggs
    | \.git
    | \.pytest_cache
    | \.tox
    | dist
  )/
)
'''

[tool.isort]
profile = "black"
filter_files = true
line_length = 120
